<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
  <meta name="theme-color" content="#fb852c"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <title>Restoran Apps</title>
  <link rel="icon" type="image/png" sizes="16x16" href="./icons/favIcon.ico">
</head>

<body>
  <a tabindex="0" href="#content" class="skip-link">Skip To Content</a>
  <header>
    <picture>
      <source media="(max-width: 600px)" srcset="./images/logo-small.png">
      <img class="logo" src="./images/logo-large.png" alt="Restoran App Logo">
    </picture>
    <button type="button" tabindex="0" id="menu" class="header__menu">☰</button>
    <nav id="drawer">
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/#/like'>Favorite</a></li>
        <li><a href='https://www.linkedin.com/in/azhar-tamimi-khan-787b32252' target="_blank">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main tabindex="0" id="mainContent">
    
  </main>
  <footer>
    <small>Copyright &copy; 2022 Restoran Apps<br></small>
  </footer>
</body>

</html>